{% extends "basefront.html.twig" %}

{% block body %}
    <!-- Crée un tableau html, table applique style de base tableaux Bootstrap, table-striped ajoute fond de couleur alterné-->
    <table class="table table-striped">
        <!-- En tête du tableau -->
        <thead>
            <!-- tr = une ligne -->
            <tr>
                <!--th = cellule d'en tête, text-left = texte aligné à gauche-->
                <!--text-end = texte aligné à droite, text-center = texte centré-->
                <!--scope="col" = indique aux lecteur d'écrans que th = une colonne (meilleur accessiblité-->
                <th class="text-left" scope="col">
                    Ville
                    <!-- Boutons < et > pour permettre le tri, path:nomroute.methode-->
                    <a href="{{ path('voyages.sort', {champ:'ville', ordre:'ASC'}) }}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true"><</a>
                    <a href="{{ path('voyages.sort', {champ:'ville', ordre:'DESC'}) }}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">></a>
                </th>
                <th class="text-left" scope="col">
                    Pays
                    <a href="{{ path('voyages.sort', {champ:'pays', ordre:'ASC'}) }}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true"><</a>
                    <a href="{{ path('voyages.sort', {champ:'pays', ordre:'DESC'}) }}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">></a>
                </th>
                <th class="text-end" scope="col">
                    Note
                    <a href="{{ path('voyages.sort', {champ:'note', ordre:'ASC'}) }}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true"><</a>
                    <a href="{{ path('voyages.sort', {champ:'note', ordre:'DESC'}) }}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">></a>
                </th>
                <th class="text-center" scope="col">
                    Date
                    <a href="{{ path('voyages.sort', {champ:'datecreation', ordre:'ASC'}) }}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true"><</a>
                    <a href="{{ path('voyages.sort', {champ:'datecreation', ordre:'DESC'}) }}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">></a>
                </th>
            </tr>
        </thead>
        <tbody>
            <!-- boucle permet à chaque tour de récupérer dans la variable locale ''visite'', une des lignes contenues dans la variable "visites" envoyée par le controller -->
            <!-- à partir de la variable "visite" qui est un objet, on peut accéder àa la partie publique de la classe Visite -->
            {% for visite in visites %}
                <tr>
                    <!-- td = cellule standard tableau-->
                    <td>
                        <!--text-primary = couleur principale du thème Bootstrap -->
                        <h5 class="text-primary">
                            <!-- href = lien cliquable, visite.ville affiche la propriété ville de l'objet visite -->
                            <a href="#">{{ visite.ville }}</a>
                        </h5>
                    </td>
                    <td>
                        {{ visite.pays }}
                    </td>
                    <td class="text-end">
                        <strong>
                            {% if visite.note<10 %}
                                <!--S'affiche en rouge -->
                                <div class="text-danger">
                                    {{ visite.note }}/20
                                </div>
                            {% else %}
                                <!--S'affiche en vert -->
                                <div class="text-success">
                                    {{ visite.note }}/20
                                </div>
                            {% endif %}
                        </strong>
                    </td>
                    <td class="text-center">
                        <!--Affiche la date formatée par le contrôleur -->
                        {{ visite.datecreationstring }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}