<!-- Permet d'afficher et positionner le formulaire avec tous les champs -->
<!-- form_row(formvisite.nomduchamp) permet d'accéder au champ du formulaire -->
{{ form_start(formvisite) }}
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col-auto">
                {{ form_row(formvisite.datecreation) }}
            </div>
            <div class="col">
                {{ form_row(formvisite.note) }}
            </div>
            <div class="col">
                {{ form_row(formvisite.tempmin) }}
            </div>
            <div class="col">
                {{ form_row(formvisite.tempmax) }}
            </div>
        </div>
        {{ form_row(formvisite.ville) }}
        {{ form_row(formvisite.pays) }}
        {{ form_row(formvisite.environnements) }}
    </div>
    <div class="col">
        <!-- emplacement image -->
        <div>
            {{ form_row(formvisite.imageFile) }}
        </div>
        <!-- afficher l'image actuelle s'il y en a une, racine du chemin du site avec fonction "app.request.getBasePath-->
        <!-- chemin où sont rangées les images se retrouve avec fonction du bundle qui attend en paramètre (nomEntity, nomPropriete de type File-->
        <!-- ~ permet de gérer la concaténation sous Twig -->
        <div>
            Image actuelle
            {% if visite.imagename %}
                <img src="{{ app.request.getBasePath()~vich_uploader_asset(visite, 'imageFile') }}"
                     class="card-img-top" alt="photo du voyage" style="width:100%;height:auto;">
            {% else %}
                <p>(aucune image)</p>
            {% endif %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        {{ form_row(formvisite.avis) }}
    </div>
</div>
{{ form_end(formvisite) }}
